@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');


html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color:#1B1B1D;
  display:flex;
  min-height: 100vh;
  align-items: center;
}

.voiceinator {
  padding:2rem;
  width:40rem;
  margin:0 auto;
  border-radius:5px;
  position: relative;
  background: #f4f4f5;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width:calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding:.5rem;
  background: #21ce99;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  color: #f4f4f5;
  font-size: 42px;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin:10px 0;
  padding:10px;
  border:0;
  font-size: 1.8rem;
  background:#f4f4f5;
  outline:0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.voiceinator textarea:hover, select:hover {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(14,13,13,.25);
  -moz-box-shadow: 0px 0px 13px 3px rgba(14,13,13,.25);
  box-shadow: 0px 0px 13px 3px rgba(14,13,13,.25);
}

.voiceinator input[type="range"]:hover, select:hover {
  cursor: pointer;
}

.voiceinator label {
  font-size: 14px;
}

textarea {
  height: 20rem;
}

.voiceinator input[type="range"] {
  margin-top: 0;
}

.voiceinator button {
  border-radius: 5px;
  border:0;
  width: 49%;
  float:left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 2rem;
  cursor:pointer;
  position: relative;
  color: #f4f4f5;
;
}

.voiceinator #stop {
  background-color: #f45531;
}

.voiceinator #speak {
  background-color: #21ce99;
}

.voiceinator button:active {
  top:2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
